/* #HomeView */

.cards_create_event{
    margin: auto;
    width: 90%;
    display: block;
}

.btn_list{
    display: block !important;
}

.bg_home_seance{
    background-color: #FFD200;
    border-radius: 10px;
    color: white;
    font-size: medium;
}

.title_home{
    margin: auto;
    width: 60%;
    text-align: center;
}

.p_cards_label{
    text-align: center;
    background-color: #5C3C90;
    margin-bottom: 0!important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

.list_item{
    line-height: 2px;
    display: block!important;
    padding: 15px!important;
}

.btn_event{
    background-color: #EEDCFF;
    border-radius: 150px;
    margin-top: -50px!important;
    height: 60px!important;
    width: 3%;
    display: block;
    margin: auto;
}

.p_choose{
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
    font-size: 1.3em;
    color: #504F4F;
    text-transform: uppercase;
}

.container_current_event{
    box-shadow: 3px 3px 15px rgba(160, 160, 160, 0.425);
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px;
}

.btn_seance{
    background-color: #B3AEAE;
    color: white;
    font-size: large;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}

.btn_view_sport{
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
}

.css_item_coach{
    background-color: #B3AEAE;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.txt_coach_preview{
    color: white !important;
    font-weight: 600;
    display: block!important;
}
/* ConseilView */

.text_conseil{
    text-decoration: none;
}

.profile_text{
    height: auto;
    box-shadow: 1px 3px 5px 5px rgb(172, 172, 172);
    width:90%;
}

.div_action{
    height: 150px;
    width: 30%;
    margin-top:8%;
    margin-left: 5%;
    display: inline-block;
}

.div_action_btn{
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 15%;
    position: absolute;
}

.label_profil{
    color: #7C7B7B;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.btn_profile{
    display: block;
    width: 33%;
    margin-left: 33%;
    margin-top: 5%;
}

.btn_alignement{
    display: block;
    margin: auto;
}

.choose_conv{
    display: block;
    width: 100%;
}

.toolbar_conv{
    display: block;
    width: 100%;
}

/* InfosView */

.v-card__title {
    padding: 15px;
}

.text_infos{
    font-size: .8em;
}

.bg_news{
    background-color: #B3AEAE;
    padding: 10px;
}

.form_login{
    width: 90%;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 1px 3px 5px 5px rgb(172, 172, 172);
}

.btn_log{
    background-color : #5C3C90 !important;
    color: white!important;
}

.Title_log{
    color: #FFD200;
    width: 70%;
    margin: auto;
}

.btn_news{
    display: inline-block;
    margin: auto;
    width: 35%;
    height: 37px!important;
}

.v_fields_mail{
    width: 85%;
    display: inline-block;
    margin: auto;
}

.bg_fields_mail{
    width: 90%;
    display: block;
    margin: auto;
}

/* ProfileView */

.text_fitcoins{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin: auto;
    padding-bottom: 15px;
    display: block;
    color: #504F4F;
}

.zone_data{
    background-color: #EEDCFF;
    color: #5C3C90;
    padding: 5px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.btn_lowercase{
    text-transform: none !important;
    background-color : #5C3C90 !important;
    color: white!important;
}

.container_logout{
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px 3px rgb(172, 172, 172);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container_fitcoin{
    background-color: #f5f5f5;
    width: 90%;
}

.container_faq{
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #5C3C90;
    border-radius: 10px;
    margin-top: 15px;
}

.text_follow{
    margin: 4px !important;
}



/* ConseilView */

.bg_conseils_sport{
    background-image: url('../img/sportif.png');
}

.bg_conseils_nutritif{
    background-image: url('../img/nutritionnel.png');
}

.bg_conseils_pratique{
    background-image: url('../img/vie\ pratique.png');
}

/* Coach View */

.container_view_coach{
    width: 90%;
    font-size: small;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #919191;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.container_sport > p{
    margin-bottom: 0!important;
    display: inline-block;
}

.container_sport{
    margin-bottom: 0!important;
    display: inline-block;
    width: 20%;
}

.container_infos{
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #919191;
    width: 50%!important;
    border-radius: 20px;
}

.text_coach{
    text-align: center; 
}

.p_coach_view{
    text-align: center;
    font-weight: 600;
}

.overlay:hover{
    background-image: #000;
    position: relative;
    z-index: 999;
}

.css_item_event{
    background-color: #f5f5f5;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.425);
    width: 90%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.txt_event_600{
    color: #504F4F;
    text-align: left;
    font-weight: 800;
    margin-bottom: 0px!important;
}

.txt_event{
    color: #000;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0px!important;
}

.dialog_infos{
    height: 100px;
    width: auto;
    background-color:#5C3C90;
    color: white;
}

/* Categorie Sport */

a:link { 
    text-decoration: none; 
}

.text_sport_categorie{
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}

.text_sport_categorie > a{
    color: white;
    text-decoration: none;
}

.container_img_sport{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
/* Back Btn for Categorie View */

.container_btn_back{
    margin-top: 5px;
    margin: auto;
}

/* Buy featcoin */

.text_card_featcoin{
    text-align: center;
}

.cards_select_coins{
    background-color: #f5f5f5!important;
}

.img_coin{
    padding-top: 15px !important;
}

.title_buy_coin{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price{
    text-align: center;
    font-weight: 600;
}