/* #HomeView */

.btn_list{
    float: right;
}

.bg_home_seance{
    background-color: #FFD200;
    border-radius: 10px;
    color: white;
    font-size: medium;
}

.btn_seance{
    background-color: #B3AEAE;
    color: white;
    font-size: large;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}

.btn_view_sport{
    display: block;
    margin: auto;
    width: 50%;
}
/* ConseilView */

.text_conseil{
    text-decoration: none;
}

.profile_text{
    height: auto;
    box-shadow: 1px 3px 5px 5px rgb(172, 172, 172);
    width:90%;
}

.div_action{
    height: 150px;
    width: 30%;
    margin-top:8%;
    margin-left: 5%;
    display: inline-block;
}

.div_action_btn{
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 15%;
    position: absolute;
}

.label_profil{
    color: #7C7B7B;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.btn_profile{
    display: block;
    width: 33%;
    margin-left: 33%;
    margin-top: 5%;
}

.btn_alignement{
    display: block;
    margin: auto;
}

.choose_conv{
    display: block;
    width: 100%;
}

.toolbar_conv{
    display: block;
    width: 100%;
}

/* InfosView */

.v-card__title {
    padding: 15px;
}

.text_infos{
    font-size: .8em;
}

.bg_news{
    background-color: #B3AEAE;
    padding: 10px;
}

.form_login{
    width: 90%;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 1px 3px 5px 5px rgb(172, 172, 172);
}

.btn_log{
    background-color : #5C3C90 !important;
    color: white!important;
}

.Title_log{
    color: #FFD200;
    width: 70%;
    margin: auto;
}

.btn_news{
    display: inline-block;
    margin: auto;
    width: 35%;
    height: 37px!important;
}

.v_fields_mail{
    width: 85%;
    display: inline-block;
    margin: auto;
}

.bg_fields_mail{
    width: 90%;
    display: block;
    margin: auto;
}

/* ProfileView */

.text_fitcoins{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin: auto;
    padding-bottom: 15px;
    display: block;
    color: #504F4F;
}

.zone_data{
    background-color: #EEDCFF;
    color: #5C3C90;
    padding: 5px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.btn_lowercase{
    text-transform: none !important;
    background-color : #5C3C90 !important;
    color: white!important;
}

.container_logout{
    background-color: #f5f5f5;
    box-shadow: 1px 1px 5px 3px rgb(172, 172, 172);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container_fitcoin{
    background-color: #f5f5f5;
    width: 90%;
}

.container_faq{
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #5C3C90;
    border-radius: 10px;
    margin-top: 15px;
}

.text_follow{
    margin: 4px !important;
}



/* ConseilView */

.bg_conseils_sport{
    background-image: url('../img/sportif.png');
}

.bg_conseils_nutritif{
    background-image: url('../img/nutritionnel.png');
}

.bg_conseils_pratique{
    background-image: url('../img/vie\ pratique.png');
}